body{
    background-color: #212529;
}
nav{
    background-color: #0dd49b ;      /* #79dfc1, #00ffb3 #212529*/
}
section h2 {
    color: #79dfc1;
}
section h2:hover{
    color: #00ffb3;
}
.dropdown-menu{
    background-color: lightgray;
}
.dropdown-item:hover{
    color: #00ffb3;
    background-color: black;  
}
.nav-item:hover{
    background-color: lightgrey;
}
.change{
    background-color: lightgrey;
}
.card{
    border: 2px solid #00ffb3;
    background-color: black;
}
.card-title{
    text-transform: uppercase;
}
.card-text{
    text-align: justify;
    font-family: 'Times New Roman';
}
.subject-card{
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    padding: 10px;
    height: 100%;             
    display: flex;             
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}
.subject-card:hover{
    color: #00ffb3 ;
    border: 2px solid #00ffb3;
}

.szak:hover{
    text-indent: 5px;
    color: #00ffb3;
}
.eler{
    font-size: 1.2rem;
}
.eler:hover{
    color: #00ffb3;
}

