nav{
    background-color: #0dd49b ;
}
section h2 {
    color: #79dfc1;
}
section h2:hover{
    color: #00ffb3;
}
.navbar-nav{
    border: solid 1.5px black;
}
.dropdown-menu{
    background-color: lightgray;
    border-radius: 10px;
}
.dropdown-color{
    color: #00ffb3;
    background-color: black; 
}
.dropdown-menu li {
    margin-bottom: 4px;
}
.dropdown-menu li:last-child {
    margin-bottom: 0px;
}
.dropdown-item {
    border-radius: 10px;
    transition: all 0.5s ease;
}
.dropdown-item:hover{
    color: #00ffb3;
    background-color: black;  
    border-radius: 10px;  
}
.nav-item:hover{
    background-color: lightgray;
}
.change{
    background-color: lightgray;
}
.card{
    border: 2px solid #00ffb3;
}
.card-title{
    text-transform: uppercase;
}
.card-text{
    text-align: justify;
    font-family: 'Times New Roman';
}
.subject-card{
    border: 2px solid black;
    border-radius: 8px;
    background-color: black;
    padding: 10px;
    height: 100%;             
    display: flex;             
    align-items: center;
    justify-content: center;
    font-weight: bold;
    text-transform: uppercase;
}
.subject-card:hover{
    color: #00ffb3 ;
    border: 2px solid #00ffb3;
    box-shadow: 0px 0px 15px #00ffb3
}
.eler{
    font-size: 1.2rem;
    text-align: left;
}
.eler:hover{
    color: #00ffb3;
}
.polski{
    text-decoration: none;
    text-decoration-line: none;
    color: lightblue;
}
.polski:hover{
    color: #79dfc1;
}
.navbar-nav, h1, h2{
    letter-spacing: 0.5px;
}
p, .subject-card{
    letter-spacing: 0.2px;
}
